trigger:
- master

pool:
  name: ApooPHP  # your self-hosted agent pool name

variables:
  phpVersion: 8.3
  azureServiceConnection: Azure-Service-Connection
  webAppName: ApoorvPHP

steps:
- checkout: self

- script: |
    sudo update-alternatives --set php /usr/bin/php$(phpVersion)
    php -v
  displayName: 'Use PHP $(phpVersion)'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
    includeRootFolder: false
    archiveType: zip
    archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
    replaceExistingArchive: true

- task: AzureWebApp@1
  displayName: 'Deploy to Azure App Service'
  inputs:
    azureSubscription: $(azureServiceConnection)
    appName: $(webAppName)
    package: '$(Build.ArtifactStagingDirectory)/app.zip'